.header_title {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
}

.post_comment {
  margin-top: 52px;
  display: flex;
  gap: 14px;
}

.comment_info {
  margin-top: 8px;
  img {
    width: 32px;
  }
}

.comment_user {
  font-size: 16px;
}

.comment_content {
  font-size: 14px;
  color: #9b9b9b;
}
