.header_icon {
	display: flex;
}

.header_account {
	font-size: 16px;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
}

.profile_icon {
	text-align: center;
	margin-top: 32px;

	img {
		width: 84px;
	}
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  left: 50%;
	transform: translateX(-50%);
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

	&.mini {
		min-width: 100px;
	}
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}