.header_icon {
	display: flex;
}

.header_account {
	font-size: 16px;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
}

.profile_icon {
	text-align: center;
	margin-top: 32px;

	img {
		width: 84px;
	}
}